/* src/RegisterScreen.css */

.RegisterScreen {
    text-align: center;
    padding: 20px;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
}

.RegisterScreen-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    margin-bottom: 30px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: white;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.custom-button {
    background-color: #3b4048;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 95%;
}

.custom-button:hover {
    background-color: #50555f;
}

.custom-button:active {
    background-color: #282c34;
}

.login-link-container {
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

.login-link {
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 10px;
}

.login-link span {
    font-weight: bold;
    text-decoration: underline;
}

.login-link:hover span {
    color: #61dafb;
}

@media (max-width: 600px) {
    .register-form {
        max-width: 90%;
    }

    .custom-button {
        padding: 12px 24px;
        font-size: 1.1rem;
    }
}